{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container fixed-top">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font mb-4">Contact</h2>
                    <h5 class="text-muted">Ask us anything!</h5>
                    <hr>
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-12 col-md-6">
                    <form method="POST" class="form mb-2">
                    {% csrf_token %}
                        {% csrf_token %}
                     {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                        <div class="text-right">
                            <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                            <button class="btn btn-black rounded-0" type="submit">Submit Inquiry</button>
                            <small id="contactHelp" class="form-text text-muted">We will never share your email with anyone!</small>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
{% endblock %}